.OPPO-Phoenix-WPX h2 {
  font-family: "OPPOSans-Ver2-Bold";
  font-size: 36px;
  line-height: 56px;
  letter-spacing: -0.36px;
}

.OPPO-Phoenix-WPX h3 {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.OPPO-Phoenix-WPX p {
  font-family: "OPPOSans-Ver2-Regular";
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
}

.with-margin-h2 {
  margin-bottom: 28px;
}

.with-margin-part {
  margin-bottom: 80px;
}

.opw-component {
  padding: 91px 0;
}

.opw-component:nth-child(even) {
  background-color: #121212;
  color: white;
}

.opw-content-margin {
  width: 13.2rem;
  margin: 0 auto;
}

.opw-banner img {
  max-width: 100%;
}

.opw-video {
  text-align: center;
  padding-bottom: 160px;
}

.opw-video iframe {
  width: 100%;
  height: 7.5rem;
}

.player-content {
  width: 211px;
}

.player-infor {
  margin: auto;
}

.player-infor table {
  width: 100%;
}

.player-infor table tr {
  border-bottom: 5px solid white;
}

.player-infor table tr:nth-child(odd) {
  background-color: #cacac8;
}

.player-infor table tr:nth-child(even) {
  background-color: #eaeaea;
}

.player-infor tr td {
  padding-left: 10px;
}

.player-infor tr td:nth-child(2) {
  text-align: center;
}

.player-infor tr img {
  width: 0.5rem;
}

.opw-content .opw-succeed-content {
  font-weight: bolder;
  margin-top: 0.2rem;
}

.opw-succeed-learn {
  text-align: center;
  margin-top: 25px;
}

.opw-succeed-learn button {
  padding: 0 30px;
  width: auto;
  height: 48px;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  border: none;
}

.opw-succeed-learn button p {
  font-weight: 600;
}

.opw-content .opw-content-info {
  display: flex;
  justify-content: space-between;
}

.with-absolute-text {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.content-info {
  width: 6.25rem;
  position: relative;
}

.content-info img {
  width: 100%;
}

.content-info-words p a {
  text-decoration: underline;
}

.content-info-words.content-info-words-news {
  margin-top: 14px;
}

/*******************************  Media  *************************************/
@media (min-width: 992px) and (max-width: 1199.98px) {
  .OPPO-Phoenix-WPX h2 {
    font-family: "OPPOSans-Ver2-Bold";
    font-size: 30px;
    line-height: 47px;
    letter-spacing: -0.015em;
  }

  .OPPO-Phoenix-WPX h3 {
    font-size: 1.17em;
    font-weight: 600;
  }

  .OPPO-Phoenix-WPX p {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0;
  }

  .opw-component {
    padding: 76.5px 0;
  }

  .opw-content-margin {
    width: 90.234vw;
  }

  .opw-video {
    padding-bottom: 76px;
  }

  .opw-video iframe {
    height: 5.2rem;
  }

  .content-info {
    width: 4.5rem;
  }

  .with-absolute-text {
    position: unset;
    top: unset;
    transform: unset;
  }

  .with-absolute-img {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .opw-content-margin {
    width: 89.58vw;
  }

  .opw-content-margin-bottom {
    width: 89.58vw;
  }

  .opw-component {
    padding: 62px 0;
  }

  .opw-video iframe {
    height: 3.9rem;
  }

  .opw-content-info.opw-player {
    flex-flow: row wrap;
    text-align: center;
  }

  .player-content {
    flex: 0 0 50%;
  }

  .player-infor {
    width: 211px;
    text-align: initial;
  }

  .opw-content-info.opw-succeed {
    flex-flow: row wrap;
  }

  .opw-content-info.opw-succeed .content-info {
    flex: 0 0 50%;
  }

  .opw-succeed .words-imges-child {
    position: unset;
    transform: none;
  }

  .with-absolute-text {
    position: unset;
    top: unset;
    transform: unset;
  }

  .with-absolute-img {
    position: unset;
    top: unset;
    transform: unset;
  }
}

@media (max-width: 768px) {
  .OPPO-Phoenix-WPX h2 {
    font-size: 40px;
    line-height: 64px;
    letter-spacing: -0.01em;
  }

  .OPPO-Phoenix-WPX h3 {
    margin: 5px 0;
  }

  .content-info {
    width: unset;
  }

  .opw-video {
    padding-bottom: 96px;
  }

  .opw-content-margin {
    width: 6rem;
  }

  .opw-banner img {
    max-width: 100%;
  }

  .opw-component {
    padding: 55px 0;
  }

  .opw-video iframe {
    height: 4rem;
  }

  .opw-content .opw-content-info {
    flex-direction: column;
    align-items: center;
  }

  .opw-content-info.opw-player {
    flex-flow: row wrap;
    text-align: center;
  }

  .player-content {
    flex: 0 0 50%;
  }

  .player-infor {
    width: 211px;
    text-align: initial;
  }

  .opw-content-margin-bottom {
    width: 73vw;
  }

  .with-absolute-text {
    position: unset;
    top: unset;
    transform: unset;
    margin-bottom: 50px;
  }

  .with-absolute-img {
    position: unset;
    top: unset;
    transform: unset;
  }

  .opw-content-info.img-content-part.with-margin-part.column-reverse-part {
    flex-flow: column-reverse;
  }

  .with-margin-part {
    margin-bottom: 0;
  }

  .with-bottom-mobile {
    margin-bottom: 35px
  }
}

@media (max-width: 576px) {
  .opw-content-margin {
    width: 330px;
  }

  .opw-component {
    padding: 17px 0;
  }

  .opw-content-info.opw-player.players-list {
    overflow-y: auto;
    flex-flow: unset;
  }

  .player-content {
    margin-left: auto;
    margin-right: 30px;
    flex: none;
  }

  .OPPO-Phoenix-WPX h2 {
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
  }

  .OPPO-Phoenix-WPX h3 {
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
  }

  .OPPO-Phoenix-WPX p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .opw-video {
    padding-bottom: 25px;
  }

  .opw-video iframe {
    height: 2rem;
  }

  .with-absolute-text {
    margin-bottom: 50px;
  }

  .with-margin-part {
    margin-bottom: 26px;
  }

  .with-bottom-mobile{
    margin-bottom: 28px;
  }

  #desktop-4b0b {
    margin: 0.2rem 0;
  }
}
